.venv
venv

.pytest_cache
.env
postgres_data/
redis/
backend/poetry.lock

.mypy_cache



Thumbs.db
.DS_Store

__pycache__/
*.pyc
*.pyo
pip-log.txt

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

build/
dist/
*.log
*.tmp
*.bak

*.swp
*.bak
*.orig

*.key
*.pem

*.session